:root {
    --accent: #2D9CDB;
    --grey: #444;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Inter, sans-serif;
    line-height: 1.65;
    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0 24px;
}

@media only screen and (max-width: 468px) {
    .page-header {
        flex-direction: column;
    }
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 8px;
}

.page-header nav a:not(:hover):not(:focus) {
    color: currentColor;
    text-decoration: none;
}

.page-header nav {
    margin-inline-start: auto;
}

nav a {
    margin: 0 12px;
    font-size: 1.25em;
}

main {
    width: 100%;
    flex-grow: 1;
}

body:not(#home) main {
    width: 100%;
    margin: 0 auto;
    max-width: 60ch;
}

.page-footer {
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 8px;

    p {
        margin-block: initial;
    }

    color:darkgrey;

}

a[href] {
    color: var(--accent);
}

a[href]:hover {
    text-decoration: none;
}

a[href]:focus {
    outline: 2px solid var(--accent);
    outline-offset: 4px;
}

.footnotes {
    font-size: 0.8em;
}

/* Typography */
p {
    margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1.05rem;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5,
.larger {
    font-size: 1.25em;
}

small {
    font-size: 0.7em;
}

/* backlinks */
.backlinks-title {
    margin-bottom: 0;
}

.backlinks-container {
    margin-top: 0;
}

.backlinks-default {
    margin-top: 0;
    margin-left: 16px;
    color: var(--grey);
}

.backlink__preview {
    display: none;

    position: absolute;
    bottom: 8px;
    left: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    width: 348px;
    max-height: 148px;
    overflow: hidden;
}

.backlink__preview::after {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, white);
    width: 100%;
    height: 24px;
}

.backlink__preview h1 {
    font-size: 1.2rem;
    margin-top: 8px;
    font-weight: bold;
}

.backlink {
    width: fit-content;
    position: relative;
}

.backlink:hover {
    padding-right: 4px;
    /* Allow mouse to travel between link and modal */
}

.backlink:hover .backlink__preview {
    display: block;
}

img {
    max-width: 100%;
}

.flex {
      display: flex;
      gap: 3rem;

      figure {
        flex: 0 0 12rem;

        img {
          object-fit: cover;
          object-position: 0px;
        }
      }
    }


ul#social-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;

    img[src$=".svg"] {
        width: 3ch;
    }
}

body#home {
    background-image: url(/assets/westringia.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

/* figure img  {border: 1px solid gray;} */

.post-divider {
  border-width: .5px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  margin: 3rem 0;
} 

<!--
Source - https://stackoverflow.com/a
Posted by Robert Koritnik, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-04, License - CC BY-SA 3.0
-->

<!--
Source - https://stackoverflow.com/a
Posted by Yaerius, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-04, License - CC BY-SA 4.0
-->

<!--
Source - https://stackoverflow.com/a
Posted by Gaunt
Retrieved 2025-12-04, License - CC BY-SA 3.0
-->
