<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body id="home">
    <header class="page-header">

<div>
    {{site.title}}
</div>

<button class="hamburger" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/portfolio">Portfolio</a>

        </nav>
    </header>
    <main>
        <!-- {{content}} -->
    </main>
    
    <footer class="page-footer">
       <div>
        <!-- <p>
      <a href="mailto:hope.e.mcmanus@gmail.com"><small>hope.e.mcmanus (AT) gmail.com</small></a>   
    </p> -->
        <p>
      <a href="/contact"><small>Contact</small></a>   
    </p>
    </div> 
     <div>  
        <p><small>&copy; {{ "now" | date: "%Y" }} {{site.author}}</small></p>
       <p><small><a href="{{site.themeUrl}}">{{site.theme}}</a> by <a href="{{site.themeAuthorUrl}}">{{site.themeAuthor}}</a></small></p>
    </div>
    </footer>
    <script>
    document.querySelector('.hamburger').addEventListener('click', function() {
        document.querySelector('.page-header nav').classList.toggle('active');
    });
</script>
</body>
</html>